.todo {
  display: flex;
  justify-content: space-between;
  &__inner {
    padding-bottom: 20px;
    width: 100%;
    &-box {
      display: flex;
    }
    &-title {
      margin-left: 10px;
      margin-bottom: 5px;
      width: 100%;
      &__box {
        border-radius: 10px;
        color: #fff;
        padding: 5px;
        background-color: rgb(114, 29, 211);
        max-width: 275px;
        width: 100%;
      }
    }
    &-text {
      margin-left: 30px;
      margin-bottom: 5px;
      &__box {
        border-radius: 10px;
        color: #fff;
        padding: 5px;
        background-color: rgb(114, 29, 211);
        max-width: 275px;
        width: 100%;
        word-wrap: break-word;
      }
    }
    &-date {
      margin-left: 30px;
    }
    &--completed {
      opacity: 0.3;
      text-decoration: line-through;
    }
    &-files{
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  &__icon-handler {
    cursor: pointer;
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}
